<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{{path('signup')}}">Signup</a>
    <a class="navbar-brand" href="{{path('login')}}">Login</a>
    <a class="navbar-brand" href="{{path('home')}}">Home</a>
</nav>
